*{
    margin: 0;
    box-sizing: border-box;
}
main h1{
    font-size: calc(15px + 2vw);
}
main h3{
    font-size: calc(10px + 2vw);
}
main{
    text-align: center;
}
main input{
    font-size: calc(2px + 2vw);
}
.button-images {
    max-width: 20vw;
    height: auto;
}
.images{
    max-width: 20vw;
    height: auto;
    display: block;
    margin:auto;
}
p {
    font-size: calc(10px + 2vw);
}
button#reset-button{
    font-size: calc(10px + 2vw);
    display: block;
    margin:auto;
}
body{
    font-family: "Comic Sans MS";
}

